*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo {
    width: 310px;
    height: 200px;
}

.co_name {
    position: absolute;
    width: 310px;
    top: 20px;
    left: 300px;
    color: green;
    font-size: 50px;
}

.background{
    min-width: 700px;
    min-height: 800px;
    background-color: rgb(200, 255, 255);
}

.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 2px solid rgb(0, 200, 200) ;
    border-top: 2px solid rgb(0, 200, 200) ;
}

.tab{
    width: 400px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_text {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}

.tab:hover{
    background-color: rgb(0, 200, 200);
}

.chi_siamo{
    padding: 20px;
    color: green;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text{
    padding: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.photo{
    margin-top: 20px;
    padding: 0%;
    position: relative;
}

.bottom{
    background-color: rgb(200, 200, 200);
    min-width: 700px;
    min-height: 120px;
}

.bottom_text{
    font-size: 20px;
    padding: 20px;
}
